* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  opacity: 0;
  background-image: url(/images/anh11.jpg);
  animation: hien 1.5s ease forwards;
}

header {
  text-align: center;
  font-family: sans-serif;
  font-size: 1.2rem;
  text-shadow: 0 0 10px black;
}

header a {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  color: gold;
  margin: 20px;
  transition: 0.2s ease;
}

nav a:hover {
  color: rgb(244, 241, 50);
  text-shadow: 0 0 10px rgba(41, 41, 41, 0.745);
  transform: scale(1.3);
  transition: 0.5s ease;
}

article {
  background: rgba(255, 255, 255, 0.089);
  padding: 20px;
  text-shadow: 0 0 10px black;
  box-shadow:
    0 0 20px rgba(0, 0, 0, 0.684),
    inset 0 0 20px rgba(255, 255, 255, 0.095);
  font-size: 1.2rem;
  color: gold;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
}

section {
  margin: 10px;
  text-align: center;
}

@keyframes hien {
  to {
    opacity: 1;
  }
}
