* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  opacity: 0;
  animation: a 1s ease forwards;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  font-family: sans-serif;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.832);
}

body {
  background: url("./images/anh11.jpg");
}

nav {
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
}

nav a {
  color: gold;
  text-decoration: none;
  margin: 0 15px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  display: inline-block;
  transition: transform 0.25s ease;
}

.cong {
  display: flex;
  gap: 6px;
  margin: 0 15px;
  font-weight: bold;
  font-size: 0.8rem;
  font-family: sans-serif;
}

.cong div {
  animation: upDown 3s infinite ease-in-out;
  opacity: 0;
}

nav a:hover {
  color: #f8ec07;
  text-shadow: 0 3px 4px #aca70684;
  transition: 0.25s ease-in-out;
  transform: scale(1.2);
}

.hero {
  background: rgba(255, 255, 255, 0.278);
  background-size: cover;
  border-radius: 20px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(236, 200, 0);
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  box-shadow:
    0 0 30px rgb(0, 0, 0),
    inset 0 0 10px rgba(255, 254, 254, 0.695);
  opacity: 0;
  animation: a 1s ease forwards;
}

p {
  color: rgb(161, 158, 4);
  opacity: 0;
  animation: a 1s ease forwards;
}

.cong div:nth-child(1) {
  animation-delay: 0.1s;
}

.cong div:nth-child(2) {
  animation-delay: 0.2s;
}

.cong div:nth-child(3) {
  animation-delay: 0.3s;
}

.cong div:nth-child(4) {
  animation-delay: 0.4s;
}

.cong div:nth-child(5) {
  animation-delay: 0.5s;
}

.cong div:nth-child(6) {
  animation-delay: 0.6s;
}

.cong div:nth-child(7) {
  animation-delay: 0.7s;
}

.cong div:nth-child(8) {
  animation-delay: 0.8s;
}

.cong div:nth-child(9) {
  animation-delay: 0.9s;
}

.cong div:nth-child(10) {
  animation-delay: 1s;
}

.cong div:nth-child(11) {
  animation-delay: 1.1s;
}

.cong div:nth-child(12) {
  animation-delay: 1.2s;
}

.cong div:nth-child(13) {
  animation-delay: 1.3s;
}

.cong div:nth-child(14) {
  animation-delay: 1.4s;
}

.cong div:nth-child(15) {
  animation-delay: 1.5s;
}

.cong div:nth-child(16) {
  animation-delay: 1.6s;
}

.cong div:nth-child(17) {
  animation-delay: 1.7s;
}

.cong div:nth-child(18) {
  animation-delay: 1.8s;
}

.cong div:nth-child(19) {
  animation-delay: 1.9s;
}

.cong div:nth-child(20) {
  animation-delay: 2s;
}

.cong div:nth-child(21) {
  animation-delay: 2.1s;
}

.cong div:nth-child(22) {
  animation-delay: 2.2s;
}

.cong div:nth-child(23) {
  animation-delay: 2.3s;
}

.cong div:nth-child(24) {
  animation-delay: 2.4s;
}

.cong div:nth-child(25) {
  animation-delay: 2.5s;
}

.cong div:nth-child(26) {
  animation-delay: 2.6s;
}

.cong div:nth-child(27) {
  animation-delay: 2.7s;
}

.cong div:nth-child(28) {
  animation-delay: 2.8s;
}

.cong div:nth-child(29) {
  animation-delay: 2.9s;
}

.cong div:nth-child(30) {
  animation-delay: 3s;
}

@keyframes a {
  to {
    opacity: 1;
  }
}

@keyframes upDown {
  0% {
    transform: translateY(0);
    opacity: 0.5;
  }
  50% {
    transform: translateY(4px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0.5;
  }
}



